.jumbotron .temporary {
	background: url("http://imgsrc.hubblesite.org/hu/db/images/hs-2015-01-c-1920x1200_wallpaper.jpg");
	height: 100%;
	width: 100%;
	background-size: cover;
}

.temporary {
	color: white;
}